body {
    width: 800px;
    color: #666;
    font-family: monospace;
}

h1 {
    background-image: url(../images/icon_folder.png);
    background-repeat: no-repeat;
    background-position: 0px;
    padding-left: 32px;
    color: #666;
}

.counter {
    margin-left: 5px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: #666;
    background-color: #eee;
    border-radius: 20px;
}

.counter-updated {
    background-color: #eee;
    color: #666;
}

.counter-removed {
    background-color: #bd2c00;
    color: #fff;
}

.counter-created {
    background-color: #55a532;
    color: #fff;
}

ul#changed-files-list {
    list-style-image: url(../images/icon_file.png);
}

ul#changed-files-list li {
    font-size: 0.9em;
}

div.folder-container h2 {
    background-image: url(../images/plus_icon.png);
    background-repeat: no-repeat;
    background-position: 0px;
    padding-left: 20px;
    margin: 0px;
}

div.folder-container {
    padding-left: 20px;
}

ul.file-container {
    list-style-image: url(../images/icon_file.png);
    margin: 0px;
}
